{% extends "base.html.twig" %}

{% block body %}
   
    <body class="bg-blue dark:bg-gray-900 astro-6MYTB7CN mx-2">
        
<div class="relative">
  <div class="absolute inset-0 overflow-hidden">
 <section class="relative h-screen w-full overflow-hidden">
  <div class="absolute inset-0 bg-cover bg-fixed bg-center bg-no-repeat shadow-lg" style="background-image: url('{{ asset('assets/img/background.png') }}');"></div>
    
  </div>
  <div class="relative">
<header class="astro-ES6RJE63">
    <nav class="absolute z-10 w-full border-b border-black/5 dark:border-white/5 lg:border-transparent astro-ES6RJE63">
        <div class="max-w-7xl mx-auto px-6 md:px-12 xl:px-6">
    <div class="relative flex flex-wrap items-center justify-between gap-6 py-3 md:gap-0 md:py-4 astro-ES6RJE63">
                <div class="relative z-20 flex w-full justify-between md:px-0 lg:w-max astro-ES6RJE63">
                    <a href="/#home" aria-label="logo" class="flex items-center space-x-2 astro-ES6RJE63">
                        <div aria-hidden="true" class="flex space-x-1 astro-ES6RJE63">
                        </div>
                        <span class="w-32 h-auto text-2xl font-bold text-gray-900 dark:text-white astro-ES6RJE63"> <img src="{{ asset('assets/img/logotypeBotalite.svg') }}" loading="lazy" alt="Botalite Logo" ></span>
                       
                    </a>

                    

                   
                </div>
            </div>
</div>
    </nav>
</header>


        <main class="space-y-40 mb-40">
		<div class="relative" id="home">
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
        <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
        <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
    </div>
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-6">
         <div class="relative pt-36 ml-auto">
            <div class="lg:w-2/3 text-left mx-auto my-0 lg:my-4">
               <h1 class="font-sans text-white dark:text-white text-6xl md:text-6xl xl:text-5xl">A tech solution that serves <span class="text-primary dark:text-white">both citizens & fact-checkers</span></h1><br>
              
‍               <img src="{{ asset('assets/img/line.svg') }}" loading="lazy" alt="" class="pb-8 w-650 mt-50 mb-50" width="522">


                <div class="text-white text-lg leading-9">A natural language chatbot in WhatsApp, and adaptable social messaging apps, linked to a platform to tackle disinformation in private messaging channels in all formats: text, audio, image and video.&nbsp;<br><br>‍Botalite allows fact-checkers to deliver fact-checks automatically to users that report disinformation and serve citizens with media literacy tools and materials. On top of that, it improves the workflow of journalists and fact-checkers by enabling the collection of disinformation content sent by users in an automated manner, allows academic research and investigation on the disinformation phenomena and enables an early warning system of viral disinformation campaigns.</div>
                <div class="mt-16 flex flex-wrap justify-normal gap-y-4 gap-x-6 pb-8">
                    <a href="#" class="relative flex h-11 w-full items-center justify-normal px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max">
                  <span class="w-270 h-70 text-xl inline-block px-6 py-3 font-semibold text-lg bg-cyan-500 text-white rounded-full shadow-lg"> Contact Us
</span>&nbsp;
                    </a>
                </div>
                <h3 class="text-white font-bold text-xl leading-9">How does Botalite work?</h3>
                   
                   
                   <div class="text-white text-xl leading-9">Through the Whatsapp API, the conversational agent enables fact-checkers to crowdsource, organize and analyze disinformation content and give automated replies to user queries. Botalite is a powerful tool to organize received content, prioritize what to debunk and collect disinformation data for further analysis.&nbsp;</div>
                   
                   </div>
                   
                   </div>
                   
                </div>
            </div>
            
              </div>
        </div>
</div>
</div>
</div>
</div>
</section>

		<div class="flex justify-between ...">
  <div class="flex justify-between ... max-w-7xl mx-auto px-6 md:px-12 xl:px-6">
    <div class="md:w-2/3 lg:w-1/2">
     <a href="/#home" aria-label="logo" class="flex items-center space-x-2 astro-ES6RJE63">
                        <div aria-hidden="true" class="flex space-x-1 astro-ES6RJE63">
                        </div>
                        <span class="w-32 h-auto text-2xl font-bold text-gray-900 dark:text-white astro-ES6RJE63"> <img src="{{ asset('assets/img/logotypeBotalite.svg') }}" loading="lazy" alt="Botalite Logo" ></span>
                       
                    </a>
      

      
      
      <h2 class="my-8 text-2xl font-bold text-gray-700 dark:text-white md:text-4xl">
        A natural
language chatbot in WhatsApp
      </h2>
      <p class="text-gray-600 dark:text-gray-300">A natural language chatbot in WhatsApp, and adaptable social messaging apps, linked to a platform to tackle disinformation in private messaging channels in all formats: text, audio, image and video.</p>
       <div class="mt-16 flex flex-wrap justify-normal gap-y-4 gap-x-6 pb-8">
                    
                           

</div>

                
    </div><div>
    <div >
  <div class="w-2/3">
    <div class="relative" style="padding-bottom: 56.25%;">
      <object width="420" height="315"
data="https://www.youtube.com/embed/499LsWPHtz0">
</object>

    </div>
  </div>
                </div>
     </div>
          </div>
               </div>
                    </div>
                    <section style="background-color: #00bdd9;" class="py-12 md:py-16 lg:py-20">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-6">
    <h2 class="my-8 text-3xl font-bold text-white dark:text-white md:text-4xl">Embedded signup for Factalite users</h2>
    <div class="text-white text-2xl mb-8">
      This is the access to the Embedded Signup System in order to onboard the WhatsApp API using Botalite as a Business Service Provider.
      <br>
      Follow the instructions by logging in with an authorized Meta account on your Meta Business Suite or your WABA account if you already have one.
      <br>
      Through this log in, Botalite as your BPS will be able to onboard you in just a few minutes.
    </div>
    <div class="mt-16 flex flex-wrap justify-normal gap-y-4 gap-x-6 pb-8">
      <a href="#" class="relative flex h-11 w-full items-center justify-normal px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max">
        <span class="w-270 h-70 text-xl inline-block px-6 py-3 font-semibold text-lg bg-white text-cyan-500 rounded-full shadow-lg">Register with WhatsApp</span>&nbsp;
      </a>
    </div>
  </div>
</section>


                    </div>
                    
                    </div>




                    
	</main>
        <footer class="p-8 flex justify-between  h-full  bg-blue-500 text-blue-500 border-t-2 border-white p-15">
    <div class="flex justify-between max-w-7xl mx-auto px-6 md:px-12 xl:px-6">
    <div class="m-auto md:w-10/12 lg:w-8/12 xl:w-6/12">
       <div class="flex justify-between">
       <a href="https://maldita.es/" class="flex justify-between ...">
       <img  class="flex justify-between ..." src="{{ asset('assets/img/maldita-logo.png') }}" loading="lazy"  style="max-height: 40px;" class="h-8" alt="Maldita Logo" >
       </a>
       <a href="https://wealize.digital/" class="wealize-link w-inline-block">
       <img src="./Botalite_files/621628429ac5eaefeb488e58_Logotipo_Wealize.svg" loading="lazy" alt="" class="wealize-logo"></a>
       </div>   
</div>
<div class=" flex justify-between ... text-sm font-semibold tracking-wide text-white">Botalite S.L. is owned by Fundación Maldita.es, a non profit foundation dedicated to fact-checking and data journalism.
The solution was awarded the European Press Prize on innovation in 2021.</div>
</div>
</footer>
        
    
</body></html>
   
    {% endblock %}


