{% extends "base.html.twig" %}

{% block javascripts %}
    {{ parent() }}

    <script>
        window.fbAsyncInit = function () {
            // JavaScript SDK configuration and setup
            FB.init({
                appId:    '621829865763918', // Facebook App ID
                cookie:   true, // enable cookies
                xfbml:    true, // parse social plugins on this page
                version:  'v16.0' //Graph API version
            });
            FB.AppEvents.logPageView();
        };

        // Load the JavaScript SDK asynchronously
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        // Facebook Login with JavaScript SDK
        function launchWhatsAppSignup() {
            // Conversion tracking code
            // fbq && fbq('trackCustom', 'WhatsAppOnboardingStart', {appId: '621829865763918', feature: 'whatsapp_embedded_signup'});

            // Launch Facebook login
            FB.login(function (response) {
                if (response.authResponse) {
                    const accessToken = response.authResponse.accessToken;
                    //Use this token to call the debug_token API and get the shared WABA's ID
                } else {
                    console.log('User cancelled login or did not fully authorize.');
                }
            }, {
                scope: 'business_management, whatsapp_business_management',
                response_type: 'code',
                extras: {
                    feature: 'whatsapp_embedded_signup',
                    setup: {}
                }
            });
        }

        function launchMessengerSignup() {
            // Conversion tracking code
            // fbq && fbq('trackCustom', 'WhatsAppOnboardingStart', {appId: '621829865763918', feature: 'whatsapp_embedded_signup'});

            // Launch Facebook login
            FB.login(function (response) {
                if (response.authResponse) {
                    const accessToken = response.authResponse.accessToken;
                    setTimeout(() => {
                        prompt("Share this token with your Botalite point of contact:", accessToken);
                    }, 2000);
                } else {
                    console.log('User cancelled login or did not fully authorize.');
                }
            }, {
                response_type: 'code',
                config_id: '1743783846083843',
            });
        }

    </script>

{% endblock %}

{% block body %}
    {% block header %}
        <section
                class="relative bg-cover bg-center bg-no-repeat pt-4 bg-gradient-to-r from-[#00c4cc] to-[#00bdd9] flex justify-center">
            <div class="max-w-7xl z-20">

                <header class="md:px-12 md:mb-6">
                    <nav class="mx-auto flex flex-col md:flex-row justify-between max-w-7xl py-6 md:gap-20" aria-label="Global">
                        <div class="flex justify-center">
                            <a href="https://botalite.es" class="-m-1.5 p-1.5">
                                <span class="sr-only">Botalite</span>
                                <img src="{{ asset('assets/img/logotypeBotalite.svg') }}" loading="lazy"
                                     alt="Botalite Logo" class="w-36">
                            </a>
                        </div>

                        <div class="mt-4 md:mt-0 lg:flex lg:justify-end px-4 md:px-0">
                            <div class="flex md:gap-x-6 justify-between md:justify-end items-center flex-wrap md:h-10 gap-y-2">
                                <a href="#" class="hover:bg-cyan-800 px-2 rounded-lg text-xs md:text-base font-semibold text-white">Home</a>
                                <a href="#factalite" class="hover:bg-cyan-800 px-2 rounded-lg text-xs md:text-base font-semibold text-white">Factalite</a>
                                <a href="#howWeWork" class="hover:bg-cyan-800 px-2 rounded-lg text-xs md:text-base font-semibold text-white">How we
                                    work?</a>
                                <a href="#whoAreWe" class="hover:bg-cyan-800 px-2 rounded-lg text-xs md:text-base font-semibold text-white">Who are
                                    we?</a>
                                <div class="flex gap-2">
                                    <a role="button" onclick="launchWhatsAppSignup()" class="hidden md:block bg-green-600 hover:bg-green-800 text-white text-xs font-bold py-1 md:px-3 rounded-full">
                                        Start with WhatsApp
                                    </a>
                                    <a role="button" onclick="launchMessengerSignup()" class="hidden md:block bg-cyan-600 hover:bg-cyan-800 text-white text-xs font-bold py-1 md:px-3 rounded-full">
                                        Start with Messenger
                                    </a>
                                </div>
                            </div>
                        </div>
                    </nav>
                </header>

                {# Chatbot title #}
                <div class="md:px-12 md:h-[70vh]">

                    <div class="mt-12 space-y-6 justify-center px-4 md:px-0 md:justify-between text-white md:flex flex-row md:gap-6 md:space-y-0 lg:gap-12 lg:items-center z-10">
                        <div class="md:w-2/3 lg:w-1/2">
                            <span role="heading"
                                  class="tracking-wide text-5xl leading-none font-bold text-white md:text-4xl lg:text-5xl"
                                    {{ stimulus_controller('symfony/ux-typed', {
                                        strings: [
                                            '🤖 Chatbots to shape a better service for your community ✨',
                                        ],
                                        loop: false,
                                        showCursor: false,
                                        cursorChar: '✨',
                                    }) }}
                            ></span>
                            <p class="my-8 text-white text-xl">
                                Botalite is an AI-supported private messaging chatbot tool that builds, strengthens, and
                                transforms the relations of media outlets, CSOs, and other community-oriented
                                organization’s with their communities.
                            </p>
                            <div class="divide-y space-y-4 divide-gray-100 dark:divide-gray-800">

                                <div class="mt-8 flex gap-4 md:items-center md: justify-center md:justify-start">
                                    <a href="mailto:hello@botalite.es">
                                        <button class="bg-cyan-600 hover:bg-cyan-800 text-white font-bold py-4 px-8 rounded-full mb-4">
                                            Contact us
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="background: url('{{ asset('assets/img/dashboard-and-phone.png') }}')"
                 class="z-0 overflow-hidden hidden md:block absolute bottom-0 left-0 top-0 right-0 !bg-no-repeat !bg-right-bottom md:!bg-[length:500px] md:!-mr-20 lg:!bg-[length:610px] lg:!-mr-24 xl:!bg-[length:720px]  xl:!-mr-16 !-mb-10">
            </div>
        </section>
    {% endblock %}
    {% block boxes %}
        {# Boxes #}
        <section class="relative flex justify-center bg-sky-900 z-10">
            <div class="flex flex-col lg:flex-row max-w-7xl">
                <div class="w-full bg-sky-900 px-6 py-6 sm:py-8 lg:w-1/3">
                    <div class="flex items-center">
                        <p class="font-body font-bold uppercase text-[#00BDD9] lg:text-lg">
                            Engage with your whole community, one message at a time.
                        </p>
                    </div>
                    <p class="pt-2 text-left text-white font-body text-primary lg:text-lg">
                        Botalite enables organizations to manage bidirectional interactions with large-scale communities
                        to help build a better understanding between you and your community.
                    </p>
                </div>
                <div class="w-full bg-sky-950 px-6 py-6 sm:py-8 lg:w-1/3">
                    <div class="flex items-center">
                        <p class="font-body font-bold uppercase text-[#00BDD9] lg:text-lg">
                            Stay up to speed so your community stays up to date.
                        </p>
                    </div>
                    <p class="pt-2 text-left text-white font-body text-primary lg:text-lg">
                        Botalite’s AI tools allow organizations to provide automated responses to user messages, so your
                        community gets the information they need, when they need it.
                    </p>
                </div>
                <div class="w-full bg-sky-900 px-6 py-6 sm:py-8 lg:w-1/3">
                    <div class="flex items-center">
                        <p class="font-body font-bold uppercase text-[#00BDD9] lg:text-lg">
                            Meet your community, wherever they are.
                        </p>
                    </div>
                    <p class="pt-2 text-left text-white font-body text-primary lg:text-lg">
                        Botalite’s chatbot tools can be made available on any private messaging platform with an API.
                        This includes WhatsApp, Instagram, Facebook Messenger, and Telegram.
                    </p>
                </div>
            </div>
        </section>
    {% endblock %}
    {% block line %}
        {# whastapp line #}
        <section>
            <div class="bg-[#00BDD9] px-6 py-6">
                <div class="flex justify-center items-center space-x-2">
                    <a href="https://www.facebook.com/business/partner-directory/search?solution_type=messaging&countries=ES&id=6947304475331974&section=overview">
                    <picture>
                        <source srcset="{{ asset('assets/img/MBP@4x.png') }}" media="(min-resolution: 4dppx)">
                        <source srcset="{{ asset('assets/img/MBP@2x.png') }}" media="(min-resolution: 2dppx)">
                        <img src="{{ asset('assets/img/MBP@1x.png') }}"
                             alt="Meta Business Partner"
                             class="object-contain h-20 w-auto"
                             style="color: white">
                    </picture>
                    </a>
                    <picture>
                        <img src="{{ asset('assets/img/whatsapp-business-solution-provider-badge-3.webp') }}"
                             alt="WhatsApp Business Solution Provider"
                             class="object-contain h-20 w-auto"
                             style="color: white">
                    </picture>
                </div>
            </div>
        </section>
    {% endblock %}
    {% block factalite %}
        {# factalite #}
        <section>
            <div id="factalite" class="bg-white px-6 pb-8 mt-4 flex justify-evenly">
                <div class="max-w-7xl md:flex flex-col md:flex-row gap-8">
                    <div class="w-full md:w-1/2 overflow-hidden">
                        <img src="{{ asset('assets/img/factalite.png') }}" alt="Logo Factalite"
                             class="w-1/2 h-auto mt-2">
                        <!-- Subtítulo -->
                        <h3 class="ml-2 text-xl leading-tight text-left whitespace-normal pb-8 text-gray-500">Our
                            specialized messaging solution for fact-checking organizations</h3>

                        <iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/hkM-gzq43zs"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>

                        <div class="grid grid-cols-1 md:grid-cols-3 gap-2 p-2">
                            <div class="flex flex-col px-2">
                                <img src="{{ asset('assets/img/grafico.svg') }}" alt="Imagen 1"
                                     class="h-24 p-4">
                                <h4 class="text-2xl font-bold leading-none text-center">Data-based decisions</h4>
                                <p class="text-center text-sm">with the support of an early warning system for viral
                                    disinformation
                                    campaigns</p>
                            </div>
                            <div class="flex flex-col px-2">
                                <img src="{{ asset('assets/img/carpeta.svg') }}" alt="Imagen 2"
                                     class="h-24 p-4">
                                <h4 class="text-2xl font-bold leading-none text-center">Efficient management</h4>
                                <p class="text-center text-sm">assigns and monitors what your team of fact-checkers is
                                    working on</p>
                            </div>
                            <div class="flex flex-col px-2">
                                <img src="{{ asset('assets/img/lupa.svg') }}" alt="Imagen 3"
                                     class="h-24 p-4">
                                <h4 class="text-2xl font-bold leading-none text-center">Improved research</h4>
                                <p class="text-center text-sm">analyzing trends and with API access for researchers</p>
                            </div>
                        </div>
                    </div>

                    <div class="md:ml-8 md:w-1/2 flex flex-col md:flex-col justify-center">
                        <div class="mt-6 md:mt-0">
                            <h3 class="pb-2 pl-2 font-body font-bold uppercase text-[#00BDD9] lg:text-2xl text-center md:text-end">
                                Fight
                                disinformation on private messaging platforms</h3>
                            <p class="text-base text-center md:text-end">Factalite is a natural language
                                semi-automated chatbot for WhatsApp and other private messaging apps, linked to
                                a centralized database and platform designed to tackle disinformation
                                circulating on private messaging platforms in all formats: text, audio, image,
                                and video.</p>
                            <hr class="border-cyan-700 opacity-75 my-4">
                        </div>
                        <div>
                            <h3 class="pb-2 pl-2 font-body font-bold uppercase text-[#00BDD9] lg:text-2xl text-center md:text-end">
                                Deliver the information citizens need</h3>
                            <p class="text-base text-center md:text-end">Factalite allows fact-checkers and
                                media outlets to deliver verified information automatically to users that report
                                disinformation and provide citizens with additional services including media
                                literacy courses, newsletters, and surveys.</p>
                            <hr class="border-cyan-700 opacity-75 my-4">
                        </div>
                        <div>
                            <h3 class="pb-2 pl-2 font-body font-bold uppercase text-[#00BDD9] lg:text-2xl text-center md:text-end">
                                Transform the newsroom workflow</h3>
                            <p class="text-base text-center md:text-end">An AI-supported database system
                                transforms the workflow of journalists and fact-checkers by enabling the
                                automated matching and collection of disinformation content reported by
                                users.</p>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    {% endblock %}

    {% block organizations %}
        {# organizations line #}
        <section>
            <div class="bg-[#fafafa] p-6 border border-gray-200">
                <div class="flex justify-center items-center space-x-2">
                    <h2 class="my-4 text-cyan-600 text-3xl font-bold mb-12">Organizations that trust in our
                        products</h2>
                </div>
                <div class="flex justify-center">
                    <div class="flex flex-wrap items-center flex-col">
                        <!-- Primera línea de logos -->
                        <div class="flex flex-col md:flex-row justify-center pb-5 items-center gap-8">
                            <a href="https://maldita.es/">
                                <img src="{{ asset('assets/img/maldita.png') }}" alt="Logo 1"
                                     class="h-auto max-h-14 mx-4 max-w-[180px]">
                            </a>
                            <a href="https://correctiv.org/">
                                <img src="{{ asset('assets/img/correctiv.png') }}" alt="Logo 2"
                                     class="h-auto max-h-14 mx-4 max-w-[180px]">
                            </a>
                            <a href="https://english.factcrescendo.com/">
                                <img src="{{ asset('assets/img/factcrecendo.png') }}" alt="Logo 3"
                                     class="h-auto max-h-14 mx-4 max-w-[180px]">
                            </a>
                            <a href="https://www.dpa.com/">
                                <img src="{{ asset('assets/img/dpa-logo.png') }}" alt="Logo 6"
                                     class="h-auto max-h-14 mx-4 max-w-[180px]">
                            </a>
                            <a href="https://https://www.rmit.edu.au/about/schools-colleges/media-and-communication/industry/factlab/">
                                <img src="{{ asset('assets/img/factlab-logo.png') }}" alt="Logo 9"
                                     class="h-auto max-h-14 mx-4 max-w-[180px]">
                            </a>
                        </div>



                        <!-- Segunda línea de logos -->
                        <div class="flex flex-col md:flex-row justify-center items-center gap-8">
                            <a href="https://chequeado.com/">
                                <img src="{{ asset('assets/img/chequeado.png') }}" alt="Logo 5"
                                     class="h-auto max-h-7 mx-4 max-w-[180px]">
                            </a>
                            <a href="https://factchequeado.com/">
                                <img src="{{ asset('assets/img/factchequeado.png') }}" alt="Logo 4"
                                     class="h-auto max-h-5 mx-4 max-w-[180px]">
                            </a>
                            <a href="https://www.lasillavacia.com/">
                                <img src="{{ asset('assets/img/lasillavacia.png') }}" alt="Logo 7"
                                     class="h-auto max-h-12 mx-4 max-w-[180px]">
                            </a>
                            <a href="https://documentedny.com/">
                                <img src="{{ asset('assets/img/documentared.png') }}" alt="Logo 8"
                                     class="h-auto max-h-16 mx-4 max-w-[180px]">
                            </a>
                            <a href="https://decheckers.be/over-ons">
                                <img src="{{ asset('assets/img/logo-decheckers.png') }}" alt="Logo 10"
                                     class="h-auto max-h-16 mx-4 max-w-[180px]">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}

    {% block comofunciona %}
        {# como funciona botalite #}
        <section>
            <div id="howWeWork" class="flex justify-center bg-white">
                <div class="max-w-7xl">
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mx-12">
                        <!-- Primera columna -->
                        <div class="md:hidden">
                            <img src="{{ asset('assets/img/como-funciona-botalite.png') }}" alt="Imagen 1"
                                 class="p-4 m-4">
                        </div>

                        <!-- Segunda columna -->
                        <div class="flex flex-col justify-center">
                            <h3 class="text-4xl font-semibold md:pt-10 md:my-4 text-[#00BDD9]">How does Botalite work?</h3>
                            <p class="py-4 max-w-md font-normal text-lg">The conversational agent employs Machine
                                Learning and Natural Language Processing tools that enable organizations to crowdsource,
                                organize and analyze disinformation content and provide automated replies to user
                                queries.
                                Botalite is a powerful tool to organize received content, prioritize what to debunk and
                                collect disinformation data for further analysis.</p>
                            <h2 class="mt-4 text-black text-2xl font-bold mb-4">Product standard features</h2>
                            <div class="flex flex-wrap gap-2">
                                <span class="bg-[#00bdd9] px-2 py-1 rounded-lg text-white">Content search with multimedia (Al matching) and text</span>
                                <span class="bg-[#00bdd9] px-2 py-1 rounded-lg text-white">Multimedia newsletters with scheduling capability</span>
                                <span class="bg-[#00bdd9] px-2 py-1 rounded-lg text-white">Multimedia bulletin (requested by user)</span>
                                <span class="bg-[#00bdd9] px-2 py-1 rounded-lg text-white">Content distribution by request as defined path</span>
                                <span class="bg-[#00bdd9] px-2 py-1 rounded-lg text-white">Automated early warning alerts</span>
                                <span class="bg-[#00bdd9] px-2 py-1 rounded-lg text-white">Surveys</span>
                                <span class="bg-[#00bdd9] px-2 py-1 rounded-lg text-white">Multimedia interactive courses</span>
                            </div>

                        </div>

                        <!-- Tercera columna -->
                        <div class="hidden md:block">
                            <img src="{{ asset('assets/img/como-funciona-botalite.png') }}" alt="Imagen 1"
                                 class="w-full h-auto p-4 m-4">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}


    {% block waw %}
        <div id="whoAreWe" class="flex justify-center mt-14">
            <div class="pt-8 w-full bg-[#fafafa] py-8 px-8">
                <h3 class="text-4xl font-semibold md:pt-10 md:my-4 text-transparent bg-clip-text bg-gradient-to-r from-[#00c4cc] to-[#00bdd9] mb-8">Who are we?</h3>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <div class="font-bold text-[#00bdd9]">Botalite SL is a tech company based in Spain totally owned by Maldita.es
                        Foundation that develops automated conversational chatbots for messaging apps focused on
                        fact-checking, media outlets and social organizations.
                    </div>
                    <div class="text-cyan-600">We began as a company focused on conversational tools to improve organization’s service to
                        citizens and reduce the spread of disinformation on private messaging apps. The semi-automated
                        chatbot solution developed for Maldita.es in Spain was awarded the European Press Prize in
                        Innovation in 2021.
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}

    {% block footer %}
        {# footer #}

        <footer class="bg-gradient-to-r from-[#00c4cc] to-[#00bdd9] shadow dark:bg-gray-900">
            <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
                <div class="sm:flex sm:items-center sm:justify-between">
                    <a href="#" class="flex items-center mb-4 sm:mb-0">
                        <img src="{{ asset('assets/img/botalitelogo.png') }}" class="h-8 mr-3" alt="Botalite Logo"/>
                        <span class="text-sm font-medium text-white leading-tight">
          Chatbots to shape a better service for your community
        </span>
                    </a>
                    <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-white sm:mb-0">
                        <li>
                            <a href="{{ path('privacy') }}" class="mr-4 hover:underline md:mr-6">Privacy</a>
                        </li>
                        <li>
                            <a href="{{ path('legal') }}" class="mr-4 hover:underline md:mr-6">Legal</a>
                        </li>
                    </ul>
                </div>
                <hr class="my-6 border-white sm:mx-auto lg:my-8"/>
                <span class="block text-sm text-white sm:text-center">© 2023 <a href="#" class="hover:underline">Botalite™</a>. All Rights Reserved.</span>
            </div>
        </footer>
    {% endblock %}

{% endblock %}




